body {
  background: rgb(255, 255, 255);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar-title {
  padding: 10px;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
}

.hide {
  display: none;
}

p > code {
  padding: 2px 4px;
  background-color: #f0f0f0;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 40px;
  border-top: 1px solid #e3e3e3;
  text-align: center;
}
.sidebar-footer-2 {
  font-size: 11px;
  text-align: left;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  padding: 10px;
  height: 40px;
  border-top: 1px solid #e3e3e3;
  text-align: center;
}

button {
  background: #585858;
  border: 1px solid #585858;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar-text-title {
  flex: 5;
  margin: 0;
  font-weight: 300;
  text-align: center;
  color: #585858;
  line-height: 50px;
  
}

.sidebar-logo {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 5%;
  background: #fff;
  padding: 10px;
}

.content-right {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #e49f28;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin: 10px;
  margin-left: calc(50% - 20px);
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* Slowly fill up the background color of the progress bar. */
.loading-icon {
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  background-color: #31053e;
  z-index: -1;
  opacity: 0.1;
  border-radius: 7px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-color: #31053e;
    opacity: 0.1;
  }
  50% {
    background-color: #31053e;
    opacity: 0.8;
  }
  100% {
    background-color: #31053e;
    opacity: 0.1;
  }
}

.row-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 10px;
}


.pad {
  padding: 10px;
}

.selectedIndicator {
  background: #585858;
  border: 1px solid #585858;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 2px;
}

.notSelectedIndicator {
  background: #fff;
  border: 1px solid #585858;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 2px;
}

.context-item {
  position: relative;

}

.context-item-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 60px;
  top: 3px;
  height: 29px;
}

.context-item-title-name {
  text-transform: capitalize;
  font-size: 13px;
}

.context-item-title-children {
  font-size: 10px;
  padding-top: 2px;
}

.context-item-title-type {
  display: inline;
  font-size: 8;
  color: gray;
  padding-left: 20px;
}

.context-item-timeline {
  position: relative;
  margin-left: 70px;
  width: calc(100% - 70px);
  
}

.icon-bubble {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: 10px;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  z-index: 1000;
}

.icon-bubble-line {
  position: absolute;
  width: 2px;
  height: calc(100% - 30px);
  left: 26px;
  top: 30px;
  background-color: #585858;
  opacity: 0.5;
}


.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,0.5);
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 500px;
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  font-size: 10px;
}

.modal-data {
}

.modal-close {
  position: absolute;
  top: -45px;
  right: 0px;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  background: #e99494;
  border-radius: 5px;
}

code > pre {
  background: #e3e3e3;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #585858;
  overflow-x: scroll;
  padding: 10px;
}

pre {
  background: #fcfcfc;
  padding: 5px;
  border-radius: 5px;
  overflow-x: scroll;
}

.sidebar-content {
  height: calc(100vh - 194px);
  overflow: scroll;
}

.context-metadata {
  position: absolute;
  justify-content: right;
  align-items: right;
  top: 0px;
  font-size: 12px;
  display: flex;
  text-transform: lowercase;
  flex-direction: row;
  border-radius: 5px;
  width: 100%;

  padding: 5px;
}

.context-metadata:hover {
  background-color: rgb(238, 238, 238);
}

.context-action-button {
  background: #585858;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  padding: 4px 4px 2px 4px;
}

.context-action-button:hover {
  opacity: 1;
}


.conversation-name {
  font-size: 14px;
  margin: 10px;
}

.conversation-role {
  margin: 10px;
  background-color: #dcdcdc;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.conversation-user {
  margin: 10px;
  background-color: #dcdcdc;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  margin-left: calc(40% - 30px);
}

p {
  margin: 0;
}

.conversation-agent {
  margin: 10px;
  background-color: #dcdcdc;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
}

.section-label-left {
  position: absolute;
  left: -1px;
  top: -10px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
}

.section-label-right {
  position: absolute;
  right: -1px;
  top: -10px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
}